@page
@model RazorPage.Pages.Feedback.DeleteModel

@{
    ViewData["Title"] = "Delete Feedback";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeedbackDTO.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeedbackDTO.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeedbackDTO.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeedbackDTO.Comment)
        </dd>
        <dt class="col-sm-2">
            User Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeedbackDTO.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeedbackDTO.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeedbackDTO.Status)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="FeedbackDTO.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>