@page
@model RazorPage.Pages.VaccineRecord.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Vaccine
            </th>
            <th>
                Child
            </th>
            <th>
                Date Administered
            </th>
            <th>
                Next Dose Due
            </th>
            <th>
                Customer Note
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VaccineRecord) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VaccineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdministered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextDoseDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerNote)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
