@page
@model RazorPage.Pages.Notification.IndexModel
@{
    ViewData["Title"] = "Notifications";
}

<h1>Notifications</h1>

<!-- Search Form -->
@* <form method="get" asp-page="./Index" class="mb-4"> *@
@*     <div class="row"> *@
@*         <div class="col-md-4"> *@
@*             <input type="text" name="UserIdSearch" class="form-control" placeholder="Search by User ID" value="@Model.UserIdSearch" /> *@
@*         </div> *@
@*         <div class="col-md-4"> *@
@*             <input type="text" name="MessageSearch" class="form-control" placeholder="Search by Message" value="@Model.MessageSearch" /> *@
@*         </div> *@
@*         <div class="col-md-4"> *@
@*             <button type="submit" class="btn btn-primary">Search</button> *@
@*             <a asp-page="./Index" class="btn btn-secondary">Clear</a> *@
@*         </div> *@
@*     </div> *@
@* </form> *@

<!-- Create New Notification Link -->
@if (Model.LoggedInUserRole.Equals("Staff")){
    <p>
        <a asp-page="./Create" class="btn btn-success">Create New Notification</a>
    </p>
}


<!-- Notifications Table -->
<table class="table table-bordered">
    <thead>
        <tr>
            @if (Model.LoggedInUserRole.Equals("Staff")){
                <th>Email</th>
            }
            <th>Message</th>
            <th>Appointment Date</th>
            <th>Created Time</th>

            @if (Model.LoggedInUserRole.Equals("Staff"))
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var notification in Model.Notifications.Items)
        {
            <tr>
                @if (Model.LoggedInUserRole.Equals("Staff"))
                {
                    <td>@notification.Email</td>
                }
                <td>@notification.Message</td>
                <td>@notification.AppointmentDate</td>
                <td>@notification.CreatedTime</td>
                @if (Model.LoggedInUserRole.Equals("Staff"))
                {
                    <td>
                        <a asp-page="./Edit" asp-route-id="@notification.Id" class="btn btn-primary btn-sm">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@notification.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<!-- Pagination -->
<div>
    @if (Model.Notifications != null)
    {
        @if (Model.Notifications.HasPreviousPage)
        {
            <a asp-page="./Index" asp-route-pageNumber="@(Model.Notifications.PageNumber - 1)" class="btn btn-primary">Previous</a>
        }

        <span>Page @Model.Notifications.PageNumber of @Model.Notifications.TotalPages</span>

        @if (Model.Notifications.HasNextPage)
        {
            <a asp-page="./Index" asp-route-pageNumber="@(Model.Notifications.PageNumber + 1)" class="btn btn-primary">Next</a>
        }
    }
</div>