@page
@model RazorPage.Pages.Children.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Child</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChildDTO.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChildDTO.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChildDTO.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChildDTO.Age)
        </dd>
        <dt class="col-sm-2">
            Parent Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChildDTO.ParentName)
        </dd>
        <dt class="col-sm-2">
            Parent Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChildDTO.ParentEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChildDTO.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChildDTO.Status)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ChildDTO.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
